{% extends "base.html" %}

{% block main %}
<div class="body"> 
    <div class="box_pend">
        <h2>HAERE MAI!</h2>
        <p>
            Welcome to Te Reo Navigator, your comprehensive online resource for learning and mastering the beautiful Māori language. Our interactive dictionary is thoughtfully organized by year levels, making it accessible for learners at any stage. Whether you're just beginning or looking to deepen your understanding, Te Reo Navigator supports your journey with features that allow you to track both learned and unlearned words. Immerse yourself in the richness of Te Reo Māori, expand your vocabulary, and celebrate the vibrant culture and heritage of Aotearoa with every word you discover.
        </p>
    </div>
    <div class="box_pend">
        <h2>WHERE SHOULD I START?</h2>
        <p>
            Te Reo Navigator offers a streamlined and user-friendly experience through its five distinct pages, each designed to enhance your journey in learning the Māori language.
            <br><br>
            To navigate which page you are looking for, please read the descriptions below.
            <br><br>
            <h3>Dictionary:</h3>
            <p>This page is used to view the dictionary catalogue. You can see the list of Māori words and phrases categorized. Use each catergory button to toggle to words and feel free to search as well!</p>
            <br><br>
            <h3>Account:</h3>
            <p>The Account page gives you special commands dependant on whether you're a teacher or a student. Please ensure logging in to utilize this page.</p>
            <br><br>
            <h3>Feedback:</h3>
            <p>The Feedback page allows you to share your thoughts and experiences with site moderators. For any suggestions, comments, or questions that will help us improve the Te Reo Navigator experience please use. </p>
            <br><br>
            <h3>Login:</h3>
            <p>The Login page is your gateway to accessing the personalized features of Te Reo Navigator. By signing in you gain access to your benefits as teacher or student.</p>
        </p>
    </div>
</div>
{% endblock %}
